<div class="navbar-fixed">
  <nav style="background-color: #ffffff ;" role="navigation">
    <div class="nav-wrapper container"><img src="/images/icons/filmax-logo.png" height="50" alt="" />
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down ">
        {{#if now }}
        <li class="active"><a href="/"> <span class="grey-text text-darken-4 ">Зараз у прокаті</span> </a></li>
        {{else}}
        <li><a href="/"> <span class="grey-text text-darken-4 ">Зараз у прокаті</span> </a></li>
        {{/if}}
        {{#if soon }}
        <li class="active"><a href="/soon"><span class="grey-text text-darken-4 ">Скоро у прокаті</span></a></li>
        {{else}}
        <li><a href="/soon"><span class="grey-text text-darken-4 ">Скоро у прокаті</span></a></li>
        {{/if}}
        {{#if vidguki}}
        <li class="active"><a href="/vidguki"><span class="grey-text text-darken-4 ">Відгуки</span></a></li>
        {{else}}
        <li><a href="/vidguki"><span class="grey-text text-darken-4 ">Відгуки</span></a></li>
        {{/if}}
        {{#if kabinet}}
        <li class="active"><a href="/kabinet"><span class="grey-text text-darken-4 ">Кабінет</span></a></li>
        {{else}}
        <li><a href="/kabinet"><span class="grey-text text-darken-4 ">Кабінет</span></a></li>
        {{/if}}
        {{#if auth}}
        <li class="active"><a href="/auth#login"><span class="grey-text text-darken-4 ">Вхід</span></a></li>
        {{else}}
        <li><a href="/auth#login"><span class="grey-text text-darken-4 ">Вхід</span></a></li>
        {{/if}}
      </ul>
    </div>
 </nav>
</div>


<ul class="sidenav" id="mobile-demo">
  <li><a href="/"><span class="grey-text text-darken-4 ">Скоро у прокаті</span>Зараз у прокаті</a></li>
  <li><a href="/skoro"><span class="grey-text text-darken-4 ">Скоро у прокаті</span>Скоро у прокаті</a></li>
  <li><a href="/vidguki"><span class="grey-text text-darken-4 ">Скоро у прокаті</span>Відгуки</a></li>
  <li><a href="/kabinet"><span class="grey-text text-darken-4 ">Скоро у прокаті</span>Кабінет</a></li>
  <li><a href="/auth"><span class="grey-text text-darken-4 ">Скоро у прокаті</span>Вхід</a></li>
</ul>