<div class="container ">
  <div class="row">
    <div class="col s8 offset-s2 m4 xl3"> {{!Картинка }}
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src='Content/img/{{cont.img_name}}' width="280" height="405" alt="" />
        </div>
        <div class="card-action">
          <a href="/movie{{cont.video_name}} " target="_blank">Дивитися трейлер</a>
        </div>
      </div>
    </div>
    <div class="col s12 m8 xl9">
      <div class="row">
        <div class="col s12 center-align">
          <h3>{{cont.filmname}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>Рік:</b> </div>
        <div class="col s9"> {{cont.rik}}</div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>Жанр:</b> </div>
        <div class="col s9"> {{cont.zhanr}}</div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>Режисер:</b> </div>
        <div class="col s9"> {{cont.rezhiser}}</div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>У ролях:</b> </div>
        <div class="col s9"> {{cont.roli}}</div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>Студія:</b> </div>
        <div class="col s9"> {{cont.studia}}</div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>Країна:</b> </div>
        <div class="col s9"> {{cont.kraina}}</div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>Тривалість:</b> </div>
        <div class="col s9"> {{cont.trivalist}}</div>
      </div>
      <div class="row">
        <div class="col s3 right-align"> <b>Вікові обмеження:</b> </div>
        <div class="col s9"> {{cont.obmezhennya}}</div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
     <i>{{cont.opis}}</i> 
    </div>
  </div>
</div>