<div class=" top">
    <div class="row">
        <div class="col s4 offset-s4 l2 ">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src='Content/img/{{img}}' width="280" height="405" alt="" />
                </div>
                <div class="card-content center-align">
                    <p> <b> {{month}} {{date}},</b> <i> &nbsp {{day}} - {{time}}</i> </p>
                </div>
            </div>
        </div>
        <div class="col s12 l10">
            <div class="row top">
                <div class="col s11 center-align ">
                    <h6 class="center-align">Экран</h6>
                    <hr class="ln">
                </div>
                <div class="col s1">
                    <div class="valign-wrapper hide-on-small-only">
                        <h6 >Ряд</h6>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="row top ">
                    <div class="col s12 m11 center-align">
                        {{{seat 1 5 cont}}}
                    </div>
                    <div class="col m1">
                        <div class="valign-wrapper hide-on-small-only">
                            <h6 >1</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m11 center-align ">
                        {{{seat 6 12 cont}}}
                    </div>
                    <div class="col m1">
                        <div class="valign-wrapper hide-on-small-only">
                            <h6 >2</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m11 center-align ">
                        {{{seat 13 19 cont}}}
                    </div>
                    <div class="col m1">
                        <div class="valign-wrapper hide-on-small-only">
                            <h6 >3</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m11 center-align">
                        {{{seat 20 26 cont}}}
                    </div>
                    <div class="col m1 valign-wrapper">
                        <div class="valign-wrapper hide-on-small-only">
                            <h6>4</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11 center-align">
                        <button id="btnsub" class="btn waves-effect teal" type="submit" name="action">Купити
                            <i class="material-icons right">sentiment_very_satisfied</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>